In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
files = [file for file in os.listdir('C:/datasets/Market_data')]

all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('C:/datasets/Market_data/' + file)
    all_months_data = pd.concat([all_months_data, df])

In [3]:
all_months_data = all_months_data.dropna(how = 'all')
df = all_months_data

In [7]:
df = df[df["Quantity Ordered"].str[0] != "Q"]
df = df.reset_index()

In [21]:
df["Price Each"] = pd.to_numeric(df["Price Each"])
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

In [22]:
df["Amount"] = df["Price Each"] * df["Quantity Ordered"]

In [29]:
df.head()

,index,Order ID,Product,Quantity Ordered,Price Each,Order Date,City,Amount,Hour
0,0,176558,USB-C Charging Cable,2,865.0,2019-04-19 08:46:00,Kochi,1730.0,8
1,2,176559,Bose SoundSport Headphones,1,7238.0,2019-04-07 22:30:00,Chennai,7238.0,22
2,3,176560,Pixel 4A,1,43434.0,2019-04-12 14:38:00,Mumbai,43434.0,14
3,4,176560,Wired Headphones,1,868.0,2019-04-12 14:38:00,Mumbai,868.0,14
4,5,176561,Wired Headphones,1,868.0,2019-04-30 09:27:00,Mumbai,868.0,9

In [28]:
df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Hour"] = df["Order Date"].dt.hour